@import "utils/color";
@import "utils/breakpoints";


.title {
    color: var(--tp-theme-1);
    background: #000;
    display: block;
    padding: 10px 20px;
    margin-top: 200px;

    @media #{$md,$sm,$xs} {
        background: var(--tp-grey-2);
    }
}

